<div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="/aeroplane?page=1">1</a></button>
        <button type="button" class="btn btn-default"><a href="/aeroplane?page=2">2</a></button>
        <button type="button" class="btn btn-default"><a href="/aeroplane?page=3">3</a></button>
        <button type="button" class="btn btn-default"><a href="/aeroplane?page=4">4</a></button>
        <button type="button" class="btn btn-default"><a href="/aeroplane?page=5">5</a></button>
    </div>
</div>