<%= render 'sidebar' %>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid">
        <h1 class="page-header">What is actually lift?</h1>
        <div class="row content">
            <h3>Wing</h3> 
            <p>The airplane generates lift using its wings. The cross-sectional shape of the wing is called an airfoil. A typical airfoil and its properties are shown in picture below.</p>
            <%= image_tag "airfoil-2.gif", class:'img' %>
            <p><strong>How it works?</strong></p>
            <p>The wings provide lift by creating a situation where the pressure above the wing is lower than the pressure below the wing. Since the pressure below the wing is higher than the pressure above the wing, there is a net force upwards. </p>
            <p>To create this pressure difference, the surface of the wing must satisfy one or both of the following conditions. The wing surface must be:</p>
            <p>1. Cambered (curved); and/or</p>
            <p>2. Inclined relative to the airflow direction.</p>
            <%= image_tag 'takeoff.jpg', class: 'img' %>
            <p>You can see in the above image that the cross-sectional wing section is curved and the chord of the wing is inclined to the direction of airflow. Thus, this creates lift as the aircraft gain enough forward thrust to overcome drag and generate enough low pressure force under the wings to generate enough lift to overcome weight.</p>
            <%= render 'buttontoolbar' %>
        </div>
    </div>
</div>